.some{
    background-color: brown;
}
.backgroundColorBlack{
    background-color: black;
}
.blueBackground{
    background-color: #298FC2;
 }
 .backgroundColorBlue{
    background-color: #298FC2;
 }
.backgroundColorGrayDark{
    background-color:#34302B;
}
.backgroundColorGrayLight{
    background-color:#F2F2F2;
}
.colorGrayLight{
    color:#F2F2F2;
}
.colorGrayDark{
    color:#34302B;
}
.colorWhite{
    color:white;
}
.bold{
    font-family: 'Raleway Bold', sans-serif;
}
.footerTop{
    height:82px;
    background-color: #298FC2;
    color:#F2F2F2;
}
.ulFlex{
    display: flex;
    justify-content:space-around;

    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    list-style: none;
    text-align: center;
}
.listStyleTypeNone li{
    list-style-type: none;
    display:inline;
}
.listStyleTypeNone li a{
    color:white;
}
.listStyleTypeNone li input{
    width: 100%;
    font-size: 18px;
    min-height:40px;
}
.listStyleTypeNone .displayFlexColumn{
    display:flex;
}
.marginTop10px{
    margin-top: 10px;
}
.marginTopBottom4px{
    margin-top: 4px;
    margin-bottom: 4px;
}
.marginTopBottom4px li{
    margin-top: 4px;
    margin-bottom: 4px;
}
.marginLeft10px{
    margin-left: 10px;
}
.displayFlexRow{
    display:flex;
    align-items: center;
    justify-content: center;
}
.displayFlexColumn{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.justifyContentCenter{
    justify-content: center;
}
.justifyContentFlexEnd{
    justify-content: flex-end;
}
.alignItemsCenter{
    align-items: center;
}
.alignItemsLeft{
    align-items: flex-start;
}
.textAlignLeft{
    text-align:left;
}
.textAlignRight{
    text-align: right;
}
.textAlignRight{
    text-align:right;
}
.flex1{
    flex:1;
}
.marginBottom10px{
    margin-bottom: 10px;
}
.paddingBottom10px{
    padding-bottom: 10px;
}
.height25px{
    height:25px;
}
.height30px{
    height:30px;
}
.height80px{
    height:80px;
}
.height100{
    height:100%;
}
.width4per{
    width:4%;
}
.width5per{
    width:5%;
}
.width10per{
    width:10%;
}
.width15per{
    width:15%;
}
.width20per{
    width:20%;
}
.width50per{
    width:50%;
}
.width55per{
    width:55%;
}
.width60per{
    width:60%;
}
.width65per{
    width:65%;
}
.width70per{
    width:70%;
}
.width90per{
    width:90%;
}
.width5px{
    width:5px;
}
.width10px{
    width:10px;
}
.width30px{
    width:30px;
}
.width40px{
    width:40px;
}
.width45px{
    width:45px;
}
.width100{
    width:100%;
}
.square5{
    width:5px;
    height:5px;
}
.square10{
    width:10px;
    height:10px;
}
.square15{
    width:15px;
    height:15px;
}
.square25{
    width:25px;
    height:25px;
}
.square30{
    width:30px;
    height:30px;
}
.square60{
    width:60px;
    height:60px;
}
.square100per{
    width:100%;
    height:100%;
}
.navTop{
    background-color: black;
}
.nav2ndrow{
    background-color: #298fc2;
}
.nav3rdrow{
    background-color: black;
}
.nav3rdrow ul li{
    width:15%;
}
.fontsize8px{
    font-size: 8px;
}
.fontsize10px{
    font-size: 10px;
}
.paddingTopBottom20px{
    padding: 20px 0px 20px 0px;
}
.paddingTopBottom5px{
    padding: 5px 0px 5px 0px;
}
.paddingTopBottom10px{
    padding: 10px 0px 10px 0px;
}
.borderRadius10px{
    border-radius: 10px;
}
.borderRadius15px{
    border-radius: 15px;
}
.borderRadius20px{
    border-radius: 20px;
}
.paddingLeft5px{
    padding-left: 5px;
}
.paddingBottom10px{
    padding-bottom:10px;
}
.paddingTop10px{
    padding-top:10px;
}




/* FlexBox Generic Stackable Row */
.flexRow2ColStackable{
    display:flex;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    flex-direction: row;
    list-style-type:none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    text-align: center;
    background-color:#F2F2F2
}
.flexRow2ColStackable li:nth-child(1){
  width:2%;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flexRow2ColStackable li:nth-child(2){
    width:57%;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flexRow2ColStackable li:nth-child(3){
    width:2%;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flexRow2ColStackable li:nth-child(4){
    width:0%;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
.flexRow2ColStackable li:nth-child(5){
  width:37%;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flexRow2ColStackable li:nth-child(6){
    width:2%;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
@media screen and (max-width: 480px) {
  .flexRow2ColStackable li:nth-child(2){
        width:96%;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .flexRow2ColStackable li:nth-child(3){
        width:2%;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .flexRow2ColStackable li:nth-child(4){
        width:2%;
         -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
     }
    .flexRow2ColStackable  li:nth-child(5){
        widtH:96%;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}





/* Generic Flex Row with 3 columns on Main center column & either side 1 || 2 % no wrap */
.flexRow3ColGutters{
    display:flex;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    flex-direction: row;
    list-style-type:none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    text-align: center;
}
.flexRow3ColGutters > li:nth-child(1){
  width:2%;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.flexRow3ColGutters > li:nth-child(2){
    width:96%;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
.flexRow3ColGutters > li:nth-child(3){
  width:2%;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
@media screen and (max-width: 480px) {
  .flexRow3ColGutters > li:nth-child(1){
        width:10%;
    }
    .flexRow3ColGutters > li:nth-child(2){
        widtH:98%;
    }
    .flexRow3ColGutters > li:nth-child(1){
        width:1%;
    }
}








/* FlexBox Generic 3 column Stackable Row left col about 60% & right column 1/3ish */
.flexRow2ColThirdsStackable{
    display:flex;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    flex-direction: row;
    list-style-type:none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    text-align: center;
    background-color:#F2F2F2
}
.flexRow2ColThirdsStackable > li:nth-child(1){
  width:60%;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flexRow2ColThirdsStackable > li:nth-child(2){
    width:2%;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flexRow2ColThirdsStackable > li:nth-child(3){
    width:38%;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .flexRow2ColThirdsStackable > li:nth-child(1){
        width:100%;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .flexRow2ColThirdsStackable > li:nth-child(2){
        width: 100%;
        height: 10px;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .flexRow2ColThirdsStackable > li:nth-child(3){
        width:100%;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}


/* FlexBox Generic 3 column Stackable Row left col about 60% & right column 1/3ish */
.flexRow5Col{
    display:flex;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    flex-direction: row;
    list-style-type:none;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    text-align: center;
}
.flexRow5Col > li:nth-child(odd){
    width:2%;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.flexRow5Col > li:nth-child(2){
    width:14%;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.flexRow5Col > li:nth-child(4){
    width:32%;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.flexRow5Col > li:nth-child(6){
    width:15%;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.flexRow5Col > li:nth-child(8){
    width:10%;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.flexRow5Col > li:nth-child(10){
    width:19%;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}


/* FlexBox Generic 4 column Stackable Row  */
.flexRow4ColStackable{
    display:flex;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    flex-direction: row;
    list-style-type:none;
    margin: 0;
    paddin∫g: 0;
    flex-wrap: wrap;
    text-align: center;
}
.flexRow4ColStackable > li:nth-child(even){
  width:22.5%;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flexRow4ColStackable > li:nth-child(odd){
    width:2%;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .flexRow4ColStackable > li:nth-child(even){
        width:100%;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .flexRow4ColStackable > li:nth-child(odd){
        width: 100%;
        height: 10px;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

/* FlexBox Generic 4 column Stackable Row  */
.flexRow4NoWrap{
    display:flex;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    flex-direction: row;
    list-style-type:none;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
}
.flexRow4NoWrap > li{
    display: flex;
    justify-content: center;
    flex-direction: column;
}