@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Roboto&text=0123456789);

body{
  font-family: "Roboto", "Raleway";
  margin:0;
}
main{
  background-color:#34302B;
  color:white;
}
footer{
  /* background-color: blue; */
}
header{
  background-color: #34302B;
} 
html {
  height: 100%;
}
nav{
  background-color: #34302B;
  color:white;
}

.App{
  margin:0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}
